---
import ContactLayout from "../layouts/ContactLayout.astro";
---
<ContactLayout sideBarActiveItemID="contact">
  <p class="text-3xl w-full font-bold mb-2">Contact</p>
  <p>For all inquiries, please email <a class="underline text-blue-600" href="mailto: jessicasenney@gmail.com">jessicasenney@gmail.com</a></p>
</ContactLayout>